extends ./index.pug

block content
    section#gtco-header.bg-light
        .container
            .col-lg-12.mx-auto
                h2 Users
                p.lead 
                | Here a list of all the users of the platform.
                
            .col-md-12.col-md-offset-0.text-left
                table#users_table.display()
                    thead
                        tr
                        th Name
                        th Email
                        th Affiliation
                        th Registered on
                        th Authorized
                        th Authorized on
                    each user in users
                        tr
                            td= user[0]
                            td= user[1]
                            td= user[2]
                            td= user[3]
                            td= user[4]
                            td= user[5]